@import url(https://fonts.googleapis.com/css?family=Lato);
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #1a1e23;
}

.btn {
  --hue: 190;
  --ease-in-duration: 0.25s;
  --ease-in-exponential: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-duration: 0.65s;
  --ease-out-delay: var(--ease-in-duration);
  --ease-out-exponential: cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
  padding: 1rem 3rem;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  background-color: hsl(var(--hue), 100%, 41%);
  border: 1px solid hsl(var(--hue), 100%, 41%);
  outline: transparent;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.btn:hover {
  background: hsl(var(--hue), 100%, 31%);
}

.btn-primary {
  --hue: 171;
}

.btn-ghost {
  color: hsl(var(--hue), 100%, 41%);
  background-color: transparent;
  border-color: hsl(var(--hue), 100%, 41%);
}

.btn-ghost:hover {
  color: white;
}

.btn-border-stroke {
  border-color: hsla(var(--hue), 100%, 41%, 0.35);
}

.btn-border-stroke .btn-borders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-border-stroke .btn-borders .border-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background: hsl(var(--hue), 100%, 41%);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.btn-border-stroke .btn-borders .border-right {
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
  background: hsl(var(--hue), 100%, 41%);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.btn-border-stroke .btn-borders .border-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: hsl(var(--hue), 100%, 41%);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.btn-border-stroke .btn-borders .border-left {
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
  background: hsl(var(--hue), 100%, 41%);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.btn-border-stroke .btn-borders .border-left {
  -webkit-transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
  transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
}

.btn-border-stroke .btn-borders .border-bottom {
  -webkit-transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
  transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
}

.btn-border-stroke .btn-borders .border-right {
  -webkit-transition: var(--ease-in-duration) var(--ease-in-exponential);
  transition: var(--ease-in-duration) var(--ease-in-exponential);
}

.btn-border-stroke .btn-borders .border-top {
  -webkit-transition: var(--ease-in-duration) var(--ease-in-exponential);
  transition: var(--ease-in-duration) var(--ease-in-exponential);
}

.btn-border-stroke:hover {
  color: hsl(var(--hue), 100%, 41%);
  background: transparent;
}

.btn-border-stroke:hover .border-top,
.btn-border-stroke:hover .border-bottom {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.btn-border-stroke:hover .border-left,
.btn-border-stroke:hover .border-right {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.btn-border-stroke:hover .border-left {
  -webkit-transition: var(--ease-in-duration) var(--ease-in-exponential);
  transition: var(--ease-in-duration) var(--ease-in-exponential);
}

.btn-border-stroke:hover .border-bottom {
  -webkit-transition: var(--ease-in-duration) var(--ease-in-exponential);
  transition: var(--ease-in-duration) var(--ease-in-exponential);
}

.btn-border-stroke:hover .border-right {
  -webkit-transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
  transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
}

.btn-border-stroke:hover .border-top {
  -webkit-transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
  transition: var(--ease-out-duration) var(--ease-out-delay) var(--ease-out-exponential);
}

.btn-text-float-up::after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.btn-text-float-up .btn-text {
  display: block;
  -webkit-transition: 0.75s 0.1s var(--ease-out-exponential);
  transition: 0.75s 0.1s var(--ease-out-exponential);
}

.btn-text-float-up:hover .btn-text {
  opacity: 0;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.btn-text-float-up:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.75s 0.1s var(--ease-out-exponential);
  transition: 0.75s 0.1s var(--ease-out-exponential);
}
/*# sourceMappingURL=016.css.map */